/* BottomNavigation.css */
.bottom-navigation {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: fixed;
  height: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3ede5;
  gap: 0;
  z-index: 1000;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(226, 210, 169, 0.3);
}

@media (min-width: 768px) {
  .bottom-navigation {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.bottom-navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 6px;
  z-index: 4;
  padding: 0 8px;
  transition: background-color 0.3s ease;
}

.bottom-navigation-item.active {
  background-color: #FFD028;
}

.bottom-navigation-item.active .bottom-navigation-number {
  background-color: rgb(31, 31, 31);
  color: white;
  border-color: rgb(31, 31, 31);
}

.bottom-navigation-item.active .bottom-navigation-label {
  color:  rgb(31, 31, 31);
  opacity: 1;
  font-weight: 700;
}

.bottom-navigation-item-hidden-mobile {
  display: none;
}

@media (min-width: 768px) {
  .bottom-navigation-item-hidden-mobile {
    display: flex;
  }
}

.bottom-navigation-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid rgb(200, 190, 170);
  color: rgb(31, 31, 31);
  font-size: 12px;
  border-radius: 2.5rem;
  font-weight: 800;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.bottom-navigation-link {
  display: flex;
  gap: 6px;
  align-items: center;
}

.bottom-navigation-item:not(.active) .bottom-navigation-link:hover .bottom-navigation-number {
  background-color: #FFD028;
  color: white;
  border-color: #FFD028;
}

.bottom-navigation-item:not(.active) .bottom-navigation-link:hover .bottom-navigation-label {
  color: rgb(31, 31, 31);
  opacity: 1;
}

.bottom-navigation-label {
  display: block;
  font-weight: 700;
  font-size: 13px;
  color: rgb(31, 31, 31);
  opacity: 1;
  text-decoration: none;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.bottom-navigation-full-link {
  display: block;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: rgb(51, 51, 51);
  z-index: -2;
}
