
@font-face {
font-display: swap;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F0725a4c9cdd2c21a7317e94c552c01cf164f7ac5?generation=1760727380476853&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Bricolage Grotesque Variable';
font-style: normal;
font-weight: 200 800;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fe86f0c28df3489827c090d4bdf07b2fadaa49d7c?generation=1760727380495827&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 400;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F9b03f9ffed05a02525543a8c18c45bc7032c772b?generation=1760628990668276&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 500;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F9b03f9ffed05a02525543a8c18c45bc7032c772b?generation=1760628990668276&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 600;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F9b03f9ffed05a02525543a8c18c45bc7032c772b?generation=1760628990668276&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 700;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F9b03f9ffed05a02525543a8c18c45bc7032c772b?generation=1760628990668276&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Bricolage Grotesque';
font-style: normal;
font-weight: 800;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F9b03f9ffed05a02525543a8c18c45bc7032c772b?generation=1760628990668276&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Figtree';
font-style: normal;
font-weight: 300;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F57fd1acf8d9651d9c38c0d4af7b78bc399be0652?generation=1760029533250049&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Figtree';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F57fd1acf8d9651d9c38c0d4af7b78bc399be0652?generation=1760029533250049&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F57fd1acf8d9651d9c38c0d4af7b78bc399be0652?generation=1760029533250049&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Figtree';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F57fd1acf8d9651d9c38c0d4af7b78bc399be0652?generation=1760029533250049&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Figtree';
font-style: normal;
font-weight: 700;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F57fd1acf8d9651d9c38c0d4af7b78bc399be0652?generation=1760029533250049&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Figtree';
font-style: normal;
font-weight: 800;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F57fd1acf8d9651d9c38c0d4af7b78bc399be0652?generation=1760029533250049&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Figtree';
font-style: normal;
font-weight: 900;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F57fd1acf8d9651d9c38c0d4af7b78bc399be0652?generation=1760029533250049&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Instrument Sans';
font-style: normal;
font-weight: 400;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fadbdfd9a78699a96a9705fbeb3470c2c653dedf0?generation=1759943959382700&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Instrument Sans';
font-style: normal;
font-weight: 500;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fadbdfd9a78699a96a9705fbeb3470c2c653dedf0?generation=1759943959382700&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Instrument Sans';
font-style: normal;
font-weight: 600;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fadbdfd9a78699a96a9705fbeb3470c2c653dedf0?generation=1759943959382700&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Instrument Sans';
font-style: normal;
font-weight: 700;
font-stretch: 100%;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fadbdfd9a78699a96a9705fbeb3470c2c653dedf0?generation=1759943959382700&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ff11d729bb0a4d8350d2ea3d0fc062cf6ef2d5298?generation=1759761685380868&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ff11d729bb0a4d8350d2ea3d0fc062cf6ef2d5298?generation=1759761685380868&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ff11d729bb0a4d8350d2ea3d0fc062cf6ef2d5298?generation=1759761685380868&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ff11d729bb0a4d8350d2ea3d0fc062cf6ef2d5298?generation=1759761685380868&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 100;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 200;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 300;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 800;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: italic;
font-weight: 900;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Ffa235c9a02b7c843a193fcea248f1ec7891812c7?generation=1759882286753907&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 100;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fa5ec54920b589ebe2af3bc3bb7754a476db68abf?generation=1759796994288380&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 100;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 200;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 800;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fd8a316f7cbfa46e69876c925e58fbf7b7c1abf0d?generation=1759828562725034&alt=media') format('woff2');
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
